@charset "utf-8";
@import "../common/_var.scss";
/**================================================================

=================================================================*/
.art-button-drop { display: inline-block; position: relative; line-height: 1;
    // 按钮
    button.art-button { position: relative; z-index: 1000; padding-right: 22px;
        &.art-button_text { color: $blue; }
    }
    // 箭头
    .art-button-arr { position: absolute; right: 10px; top: 0; bottom: 0; margin: auto 0; width: 7px; height: 7px; z-index: 1000;
        &:before { content: ""; display: block; width: 5px; height: 5px; border: 1px solid rgba($blue, .98); border-width: 0 0 1px 1px; transform: rotate(-45deg); transition: all ease $animateTime; margin-top: -20%; }
        &.art-ext {
            &:before { transform: translate(0,50%) rotate(135deg); }
        }
    }
    // 下拉框容器
    .art-button-drop-box { position: absolute; left: 0; top: 26px; z-index: 1010; min-width: 70px; width: 100%; }

    // 激活状态
    &.art-button-drop_active {
        .art-button-arr {
            &:before { border: 1px solid rgba(#fff, .98); border-width: 0 0 1px 1px; }
        }
    }
}
