@charset "utf-8";
@import "../common/_var.scss";
@import "../common/_base.scss";
/**============================
 art : 项目前缀
 art-xxx ： 组件前缀
 art-xxx-xxx ：组件内部元素
 art-xxx_xxx：组件本身的不同状状态
==============================*/
.art-page-size { font-size: 0; line-height: 1; z-index: 1030;
  &-wrap { position: relative; display: inline-block; font-size: 0; margin: 0 10px;}
  &-now { position: relative; display: block; font-size: $sizeSmall; color: $main; padding: 0 27px 0 10px; cursor: pointer; line-height: 26px; border: 1px solid $white; background-color: $white; transition: all $animateTime; border-radius: 14px; box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    &:after { content: ""; position: absolute; right: 11px; top: 50%; margin-top: -3.75px; display: block; width: 5px; height: 5px; border-color: $main $main transparent transparent; border-width: 1px 1px 0 0; border-style: solid; box-sizing: border-box; transform: rotate(135deg); transform-origin: 50% 50%; transition: all $animateTime ease-out;}
    &:hover { border-color: $blue; box-shadow: 0 1px 6px rgba($blue,0.3);}
    &_open { border-color: $blue; box-shadow: 0 1px 6px rgba($blue,0.3);
      &:after { transform: rotate(315deg); margin-top: -1.25px;}
    }
  }
  &-result { display: inline-block;
    i { font-style: normal; margin-right: 4px; }
  }
  &-box { position: absolute; left: 0; width: 100%; top: 33px; }
  &-total { display: inline-block; font-size: $sizeSmall; color: $mainWeak; line-height: 28px;
    i { font-style: normal; margin: 0 4px; }
  }
}
