@charset "utf-8";
@import "../common/_var.scss";
@import "../common/_base.scss";
$radioPrefix: "#{$proPrefix}radio";
/**============================
 art : 项目前缀
 art-xxx ： 组件前缀
 art-xxx-xxx ：组件内部元素
 art-xxx_xxx：组件本身的不同状态
==============================*/
.art-radio { position: relative; font-size: 0; display: block; cursor: pointer; box-sizing: border-box;
    .art-radio-icon { position: relative; display: inline-block; width: 14px; height: 14px; border-radius: 50%; margin-right: 10px; font-size: $sizeNormal; vertical-align: middle; border: 1px solid $remark; box-sizing: border-box; transition: all $animateTime;
        &:after { content: ''; display: block; position: absolute; left: 50%; top: 50%; width: 0; height: 0; margin-left: -3px; margin-top: -3px; border: 3px solid $blue; border-radius: 50%; background-color: $blue; transition: all $animateTime; transform: scale(0); }
    }
    .art-radio-value { display: inline-block; font-size: $sizeNormal; color: $main; vertical-align: middle; margin-right: 10px; }
    &:hover {
        .art-radio-icon { border: 1px solid $blue; }
    }
    &_active {
        .art-radio-icon { border: 1px solid $blue; background-color: $blue;
            &:after { border: 3px solid $white; border-radius: 50%; transform: scale(1); }
        }
        .art-radio-value { color: $mainStrong; }
    }
    &_disabled { cursor: not-allowed;
        .art-radio-icon { border: 1px solid $remark; background-color: $borderColor;
            &:after { display: none;}
        }
        &:hover {
            .art-radio-icon { border: 1px solid $remark; background-color: $borderColor; }
        }
        .art-radio-value { color: $mainWeak; }
    }
    &.#{$radioPrefix}_disabled.#{$radioPrefix}_active {
        .art-radio-icon { border: 1px solid $remark; background-color: $remark;
            &:after { display: block; border: 3px solid $white; border-radius: 50%; transform: scale(1); }
        }
    }
}
