@charset "utf-8";
@import "../common/_var.scss";
@import "../common/_base.scss";
$switchPrefix: "#{$proPrefix}switch";
/**============================
 art : 项目前缀
 art-xxx ： 组件前缀
 art-xxx-xxx ：组件内部元素
 art-xxx_xxx：组件本身的不同状状态
==============================*/
.art-switch { position: relative; display: inline-block; min-width: 48px; height: 24px; box-sizing: border-box; padding: 0 9px; border-radius: 12px; background-color: $remark; transition: all $animateTime ease-out; cursor: pointer; text-align: right;
  &-inner { font-size: $sizeSmall; color: $white; line-height: 24px;}
  &:after { content: ""; position: absolute; left: 2px; top: 50%; margin-top: -9px; display: block; width: 18px; height: 18px; border-radius: 50%; background-color: $white; box-shadow: 0 1px 3px 0 #a6abb7; transition: left $animateTime ease-out;}
}
.art-switch_active { background-color: $blue; text-align: left;
  &:after { left: 27px;}
}
