{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": [
          "last 20 versions",
          "Android >= 4.0",
          "iOS >= 7.0",
          "not ie <= 8"
        ]
      }
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": ["istanbul"]
    }
  }
}
