@charset "UTF-8";
/**================================================================
变量
=================================================================*/
.art-markdown section > img {
  vertical-align: middle; }
.art-markdown section > h1, .art-markdown section > h2, .art-markdown section > h3, .art-markdown section > h4 {
  line-height: 1;
  color: #283039;
  font-weight: normal; }
.art-markdown section > h2 {
  font-size: 30px; }
.art-markdown section > h3 {
  font-size: 18px;
  margin-top: 40px; }
.art-markdown section > h4 {
  font-size: 14px;
  margin-top: 20px; }
.art-markdown section > hr {
  height: 120px;
  border: 0;
  margin: 0; }
.art-markdown section > p {
  line-height: 1;
  color: #727682;
  margin-top: 20px; }
  .art-markdown section > p a {
    color: #0074ff; }
.art-markdown section code {
  width: 100%;
  border: 1px solid #f0f2f5;
  border-radius: 2px;
  background-color: #f6f8fc;
  font-family: Segoe UI, Microsoft Yahei, 微软雅黑, Tahoma, Arial, sans-serif;
  padding: 0.1em 0.3em;
  margin: 0 1px; }
.art-markdown section pre {
  background-color: transparent;
  overflow: hidden;
  font-family: Segoe UI, Microsoft Yahei, 微软雅黑, Tahoma, Arial, sans-serif; }
.art-markdown section pre code {
  padding: 0;
  font-size: 14px;
  border: none;
  border-radius: 0;
  background-color: transparent;
  line-height: 1.7;
  overflow-x: auto;
  vertical-align: middle; }
.art-markdown section blockquote {
  margin: 16px 0;
  padding: 0 15px;
  color: #C9C9C9;
  border-left: 4px solid #ECECEC; }
.art-markdown section blockquote p {
  color: #727682;
  line-height: 1.5; }
.art-markdown section > ul {
  margin: 16px 0;
  padding-left: 24px;
  list-style: disc; }
.art-markdown section > ul li {
  line-height: 2;
  color: #727682; }
.art-markdown section > table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  border: 1px solid #f0f2f5; }
.art-markdown section > table.table {
  width: 100%;
  color: #727682;
  font-size: 14px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  margin-top: 20px;
  line-height: 1.5; }
.art-markdown section > table.table tr {
  width: 100%; }
.art-markdown section > table.table th {
  text-align: left;
  border-top: 1px solid #f3f7fa;
  background-color: #f6f8fc; }
.art-markdown section > table.table td, .art-markdown section > table.table th {
  border: 1px solid #f0f2f5;
  padding: 12px 24px; }
.art-markdown section > table.table td {
  line-height: 2;
  min-width: 10em; }
  .art-markdown section > table.table td a {
    color: #0074ff; }

.art-wiki section > hr {
  height: 60px; }
.art-wiki section > ul + hr {
  height: 44px; }
.art-wiki section > p {
  line-height: 2; }
.art-wiki section > h2:first-child {
  margin-top: 0; }
.art-wiki section a {
  color: #0074ff; }
.art-wiki section .art-wiki-code {
  margin-top: 20px;
  border: 1px solid #f0f2f5;
  border-radius: 4px;
  padding: 15px 30px;
  color: #727682; }
  .art-wiki section .art-wiki-code hr {
    height: 0; }
.art-wiki section ul li {
  list-style: circle; }

.art-design-wiki section > hr {
  height: 120px; }
.art-design-wiki section > h2 {
  font-size: 28px;
  line-height: 40px;
  color: #283039; }
.art-design-wiki section > h3 {
  font-size: 18px;
  line-height: 24px;
  margin-top: 56px;
  color: #283039;
  font-weight: bold; }
.art-design-wiki section > h4 {
  font-size: 14px;
  line-height: 24px;
  color: #283039;
  margin-top: 40px;
  font-weight: bold; }
.art-design-wiki section > h5 {
  font-size: 14px;
  line-height: 24px;
  color: #283039;
  margin-top: 24px;
  font-weight: normal; }
.art-design-wiki section > p {
  font-size: 14px;
  line-height: 24px;
  color: #727682;
  margin-top: 8px; }
.art-design-wiki section > img {
  margin-top: 32px; }
.art-design-wiki section > .remark {
  color: #bec1ca;
  margin-top: 8px; }
.art-design-wiki section > h2 + p {
  margin-top: 6px; }
.art-design-wiki section > h3 + p {
  margin-top: 8px; }
.art-design-wiki section > h3 + h5 {
  margin-top: 32px;
  line-height: 20px; }
.art-design-wiki section > h3 + .compare-list {
  margin-top: 24px; }
.art-design-wiki section > p + img {
  margin-top: 32px; }
.art-design-wiki section > p + p {
  margin-top: 0; }
.art-design-wiki section > .compare-list + h3 {
  margin-top: 40px; }
.art-design-wiki section .mt-l {
  margin-top: 80px; }
.art-design-wiki section .tips {
  position: relative;
  font-size: 14px;
  line-height: 16px;
  margin-top: 24px;
  color: #727682; }
  .art-design-wiki section .tips strong {
    font-weight: normal;
    color: #283039; }
  .art-design-wiki section .tips a {
    font-size: 14px;
    color: #0074ff; }
  .art-design-wiki section .tips.nowrap {
    white-space: nowrap; }
  .art-design-wiki section .tips.badge {
    padding-left: 12px; }
    .art-design-wiki section .tips.badge:before {
      content: "";
      position: absolute;
      left: 0;
      top: 3px;
      width: 4px;
      height: 10px; }
    .art-design-wiki section .tips.badge.correct:before {
      background-color: #0bdba8; }
    .art-design-wiki section .tips.badge.error:before {
      background-color: #f52f3e; }
.art-design-wiki section .img-list {
  font-size: 0;
  margin-top: 32px; }
  .art-design-wiki section .img-list .img-box {
    display: inline-block;
    margin-left: 80px;
    vertical-align: top; }
    .art-design-wiki section .img-list .img-box.mgl-l {
      margin-left: 128px; }
    .art-design-wiki section .img-list .img-box:first-child {
      margin-left: 0; }
    .art-design-wiki section .img-list .img-box .tips {
      font-size: 12px; }
.art-design-wiki section .shadow {
  box-shadow: 0 6px 24px 0 #ebedf2; }
.art-design-wiki section .compare-list {
  border: 1px solid #f0f2f5;
  font-size: 0;
  margin-top: 32px; }
  .art-design-wiki section .compare-list .compare-item {
    border-top: 1px solid #f0f2f5;
    padding: 32px 0; }
    .art-design-wiki section .compare-list .compare-item:first-child {
      border-top: none; }
  .art-design-wiki section .compare-list .compare-box {
    display: inline-block;
    padding: 0 32px;
    vertical-align: top; }
    .art-design-wiki section .compare-list .compare-box.pct50 {
      width: 50%; }
    .art-design-wiki section .compare-list .compare-box.pct25 {
      width: 25%; }
    .art-design-wiki section .compare-list .compare-box .mlt-s {
      margin-top: 20px; }
    .art-design-wiki section .compare-list .compare-box .tips:first-child {
      margin-top: 0; }
